.fdback-conn{height: auto;display: block;overflow: hidden;}
.fdback-conn ul li{width: 50%;height: 1.2rem;}
.fdback-conn ul li:first-child{padding-left: 0.25rem;}
.fdback-conn ul li span{display: inline-block;line-height: 1.2rem;padding-left: 0.85rem;}
.fdback-conn ul li span.zhix{background: url(../../images/icon/callmenu10.png) no-repeat left center;background-size: 0.68rem;}
.fdback-conn ul li span.tous{background: url(../../images/icon/callmenu11.png) no-repeat left center;background-size: 0.68rem;}

