/*帐号信息与动态属性*/
.jpdetail-ware{ height:auto; display:block; overflow:hidden;}
.jpdetail-ware .ware-titl{ height:auto; display:block; overflow:hidden; text-align:center;}
.jpdetail-ware .ware-titl .wrnav{ width:50%; height:1rem; line-height:1rem; color:#6b707c; display:block;}
.jpdetail-ware .ware-titl .wrnav.active{ color:#000000; background:url(../../images/icon/line-bg.png) no-repeat center bottom; background-size:0.5rem auto;}
.jpdetail-ware .ware-info{height:auto; display:block; overflow:hidden; }
.jpdetail-ware .ware-info .ware-content{height:auto; display:block; overflow:hidden;}
.jpdetail-ware .ware-info .ware-content h2{ height:0.72rem; line-height:0.72rem;}
.jpdetail-ware .ware-info .ware-content .cn-text{ line-height:0.48rem;}

.jpdetail-ware .ware-info .ware-trend{height:auto; display:block; overflow:hidden;}
.jpdetail-ware .ware-info .ware-trend ul li{ height:0.88rem; overflow:hidden;}
.jpdetail-ware .ware-info .ware-trend ul li .trend-name{ line-height:0.88rem; width:2.54rem;}
.jpdetail-ware .ware-info .ware-trend ul li .trend-boxs{line-height:0.88rem; }

.jpdetail-ware .ware-info .ware-violate{height:auto; display:block; overflow:hidden; text-align:right;}
.jpdetail-ware .ware-info .ware-violate .violate-ico{ display:inline-block; height:0.88rem; line-height:0.88rem; background:url(../../images/icon/violate-ico.png) no-repeat left center; padding-left:0.4rem; background-size:0.33rem;}




.jpdetail-ware .jpflow-info{ height:auto; display:block; overflow:hidden;}
.jpdetail-ware .jpflow-info img{ width:100%; height:100%;}
.jpdetail-ware .jpflow-info .flowpic{ width:7.68rem; height:8rem; margin:0 auto; }
.jpdetail-ware .jpflow-info .flowpic01{width:7.68rem; height:5.58rem; margin:0 auto;}














