.tx-list{
    height: auto;
    overflow: hidden;
    display: block;
    padding: 0.25rem;
}
.tx-list .icon-tx{
    width: 1rem;
    height: 1rem;
    border-radius: 0.08rem;
}
.verification{
    height: auto;
    overflow: hidden;
    display: block; 
    padding: 0.28rem 0.25rem;
}
.verification .list01{
    margin-right: 0.35rem;
}
.outlogin{
    text-align: center;
    margin-top: 0.95rem;
}
.outlogin a.switchdown{
    width: 3rem;
    height: 0.88rem;
    text-align: center;
    line-height: 0.88rem;
    border-radius: 0.08rem;
    display: inline-block;
}