@import "../header/header.css";

.schedule-main{ height:auto; display:block; padding:0.25rem;}
.schedule-info{ padding:0 .28rem; height:auto; border-radius:0.1rem; padding-bottom:.2rem;-moz-box-shadow:0px 0px 0.1rem #ebebeb; -webkit-box-shadow:0px 0px 0.1rem #ebebeb; box-shadow:0px 0px 0.1rem #ebebeb;
}
.schedule-info .schedule-titl{ height:1.08rem; line-height:1.08rem;}
.schedule-info .schedule-table{ min-width:6.63rem; height:auto; display:block; overflow:hidden; border-right:1px solid #000; border-bottom:1px solid #000; margin:0 auto;}
.schedule-info .schedule-table tr{width:100%;}
.schedule-info .schedule-table tr th{ height:1.05rem; border-top:1px solid #000; border-left:1px solid #000; line-height:.4rem; font-size:.24rem; color:#040000; font-weight:normal;}
.schedule-info .schedule-table tr .sdl-th01{ width:2rem;}
.schedule-info .schedule-table tr .sdl-th02{ width:2.64rem;}
.schedule-info .schedule-table tr .sdl-th03{ width:2rem;}
.schedule-info .schedule-table tr td{ height:.6rem; line-height:.6rem;border-top:1px solid #000; border-left:1px solid #000; font-size:.24rem; color:#616669; font-weight:normal;}

.schedule-info .schedule-text{ height:auto; display:block; overflow:hidden;}
.schedule-info .schedule-text p{ line-height:.42rem; color:#000;  font-size:.22rem;}
.schedule-info .schedule-text p i{ font-size:.38rem;}



















